html,
body {
  background-color: #F3F3F0;
  padding: 0;
  margin: 0;
  font-size:10px;
}

a {
  color: inherit;
  text-decoration: none;
}


* {
  box-sizing: border-box;
  cursor: url("https://i.stack.imgur.com/inwsy.png") 16 16, none !important;  
}


@media (max-width: 600px) {
  body{
    font-size: 8px;
  }
}
