html,
body {
  background-color: #F3F3F0;
  padding: 0;
  margin: 0;
  font-size:14px;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}


* {
  box-sizing: border-box;
  cursor: url("https://i.stack.imgur.com/inwsy.png") 16 16, none !important;  
}

@media (max-width: 700px) {
  body{
    font-size: 10px;
  }
}


@media (min-width: 701px) and (max-width: 1120px){
  body{
    font-size: 12px;
  }
}


iframe{
  border: none;
  display: block;
  margin: none;
  padding: none;
  
  border: none;

}