:root {
    --jetblack-color: #29252d;
    --black-color: #151513;
    --sand-color: #f3f3f0;
    --sanddark-color: #EDEDE8;
    --pink-color: #dd727f;
    --pinkdark-color:#BF636E;
    --green-color: #809490;
    --gray-color: #A9A9A9;
}

